#EXPO_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_API_URL=http://18.228.6.219:3001
EXPO_PUBLIC_SUPPORT_EMAIL=support@meuagito.com
EXPO_PUBLIC_ENABLE_PUSH_REGISTRATION=false
EXPO_PUBLIC_UI_PREVIEW_MODE=false
EXPO_PUBLIC_AWS_SNS_PLATFORM_APPLICATION_ARN_ANDROID=
EXPO_PUBLIC_AWS_SNS_PLATFORM_APPLICATION_ARN_IOS=
